.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input, textarea, button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
}

.buttonCancelar {
    padding: 8px 24px;
    border: 1px solid #003399;
    background: #fff;
    color: #003399;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #002244;
}
 
.preview {
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
    border-radius: 4px;
}

.fileUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.erro {
    color: red;
    margin-bottom: 10px;
}