.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003366;
  padding: 10px;
}

.logo {
  width: 150px;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchInput {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 12px;
  width: 200px;
}

.divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.addButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 16px;
  display: block;
  margin: 0 auto;
}

.addButton:hover {
  background-color: #0056b3;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend {
  display: flex;
  gap: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.achado {
  color: green;
}

.perdido {
  color: red;
}

.cartoesContainer {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens vão para a próxima linha */
  justify-content: center; /* Centraliza os cartões */
  gap: 16px; /* Espaço entre os cartões */
  margin-top: 20px;
}
