.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.logo {
  width: 80px;
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
}

.button {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  border: none;
  border-radius: 20px;
  background-color: rgb(38, 84, 160);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #005999;
}
